.login-box{
  border: 5px solid lightblue;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-new-account {
  cursor: pointer;
}
.form-container{
  border: 2px solid blue;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;

}
.forget-pass {
  cursor: pointer;
}

.login-container {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 90% !important;
  }
}

/* .login-box {
  padding-top: 100px;
} */
